@use "../core";

// -----------------------------------------------------------------------------
// Stretch link
// -----------------------------------------------------------------------------

.#{core.$utility-prefix}stretch-link {
	--z-index: 1;
	position: static;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: var(--z-index);
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&:focus {
		outline: none;
	}

	&:focus::before {
		outline: var(--outline-width) var(--outline-type) var(--outline-color);
	}
}

