@use "../core";
@use 'sass:map';

// -----------------------------------------------------------------------------
// Transform
// -----------------------------------------------------------------------------

$origin: map.get(core.$compiled-config, functions, transform, origin);
$rotate: map.get(core.$compiled-config, functions, transform, rotate);
$scale: map.get(core.$compiled-config, functions, transform, scale);
$skew: map.get(core.$compiled-config, functions, transform, skew);
$translate-x: map.get(core.$compiled-config, functions, transform, translate-x);
$translate-y: map.get(core.$compiled-config, functions, transform, translate-y);
$translate-z: map.get(core.$compiled-config, functions, transform, translate-z);

.#{core.$prefix}transform {
	--origin: #{$origin};
	--rotate: #{$rotate};
	--scale: #{$scale};
	--skew: #{$skew};
	--translate-x: #{$translate-x};
	--translate-y: #{$translate-y};
	--translate-z: #{$translate-z};

	transform: rotate(var(--rotate)) scale(var(--scale)) skew(var(--skew)) translate3d(var(--translate-x), var(--translate-y), var(--translate-z));
	transform-origin: var(--origin);
}

