@use "../core";
@use 'sass:map';

// -----------------------------------------------------------------------------
// Transition
// -----------------------------------------------------------------------------

$property: map.get(core.$compiled-config, functions, transition, property);
$duration: map.get(core.$compiled-config, functions, transition, duration);
$delay: map.get(core.$compiled-config, functions, transition, delay);
$easing: map.get(core.$compiled-config, functions, transition, easing);

.#{core.$prefix}transition {
	--property: #{$property};
	--duration: #{$duration};
	--delay: #{$delay};
	--easing: #{$easing};

	transition-property: var(--property);
	transition-duration: var(--duration);
	transition-delay: var(--delay);
	transition-timing-function: var(--easing);
}
