@use "../core";
@use 'sass:map';

// -----------------------------------------------------------------------------
// Flow
// -----------------------------------------------------------------------------

$space: map.get(core.$compiled-config, layouts, flow, space);

.#{core.$prefix}layout-flow {
	--space: #{$space};

	> * + * {
		margin-top: var(--space);
	}
}
