@use "../core";
@use "../core/functions";
@use "sass:map";

$config: (
	tokens: (
		font-family: (
			important: false,
			responsive: false,
			shorthand: font,
			variable: font,
			properties: (font-family),
			variants: (core.$merged-font-family)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
