@use "../core";
@use "../core/functions";
@use "sass:map";

$config: (
	tokens: (
		letter-spacing: (
			important: false,
			responsive: false,
			shorthand: tracking,
			variable: tracking,
			properties: (letter-spacing),
			variants: (core.$merged-letter-spacing)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
