@use "../core";
@use "../core/functions";
@use "sass:map";

$config: (
	tokens: (
		margin: (
			important: false,
			responsive: false,
			shorthand: margin,
			variable: space,
			properties: (margin),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-top: (
			important: false,
			responsive: false,
			shorthand: margin-top,
			variable: space,
			properties: (margin-top),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-right: (
			important: false,
			responsive: false,
			shorthand: margin-right,
			variable: space,
			properties: (margin-right),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-bottom: (
			important: false,
			responsive: false,
			shorthand: margin-bottom,
			variable: space,
			properties: (margin-bottom),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-left: (
			important: false,
			responsive: false,
			shorthand: margin-left,
			variable: space,
			properties: (margin-left),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-x: (
			important: false,
			responsive: false,
			shorthand: margin-x,
			variable: space,
			properties: (margin-right, margin-left),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		),

		margin-y: (
			important: false,
			responsive: false,
			shorthand: margin-y,
			variable: space,
			properties: (margin-top, margin-bottom),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						auto: auto,
						none: none
					)
				)
			)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
