@use "../core";
@use "../core/functions";
@use "sass:map";

$config: (
	tokens: (
		padding: (
			important: false,
			responsive: false,
			shorthand: padding,
			variable: space,
			properties: (padding),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-top: (
			important: false,
			responsive: false,
			shorthand: padding-top,
			variable: space,
			properties: (padding-top),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-right: (
			important: false,
			responsive: false,
			shorthand: padding-right,
			variable: space,
			properties: (padding-right),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-bottom: (
			important: false,
			responsive: false,
			shorthand: padding-bottom,
			variable: space,
			properties: (padding-bottom),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-left: (
			important: false,
			responsive: false,
			shorthand: padding-left,
			variable: space,
			properties: (padding-left),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-x: (
			important: false,
			responsive: false,
			shorthand: padding-x,
			variable: space,
			properties: (padding-right, padding-left),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		),

		padding-y: (
			important: false,
			responsive: false,
			shorthand: padding-y,
			variable: space,
			properties: (padding-top, padding-bottom),
			variants: (
				functions.merge(
					core.$merged-spacing,
					(
						none: none
					)
				)
			)
		)
	)
);

core.$compiled-config: map.deep-merge(core.$compiled-config, $config);
